*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}
nav{
    background-color: white;
    max-width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-contents{
    display: flex;
    justify-content: space-between;
}
.logo a{
    padding: 5px 0px 0px 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
}
.logo span{
    font-weight: bold;
}
.nav-left-contents ul li a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 20px;
    padding: 5px;
    letter-spacing: 4px;
}
.nav-left-contents ul li{
    display: inline-block;
    padding-right: 10px;
}
.nav-left-contents ul li a:hover{
    background-color: rgb(200, 192, 192);
    cursor: pointer;
}
.logo a:hover{
    background-color: rgb(200, 192, 192);
    cursor: pointer;
}
.home-contents img{
    height: auto;
    max-width: 100%;
}
.home-contents{
    padding:2px 10px 16px 10px;
    position: relative;
    top: -40px;
}
.home-center-contents{
    font-size: 42px;
    letter-spacing: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.home-center-contents span{
    padding: 5px;
    color: white;
    background-color:rgba(0, 0, 0, 0.7);
}
.project-page{
    padding:18px 9px 18px 9px;
}
.project-header{
    padding-bottom: 12px;
    margin:0px 28px;
    font-size:28px ;
    border-bottom: solid 1px #ccc;
}
.project-contents{
    padding: 40px 0px 0px 0px;
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Responsive columns */
    gap: 16px; /* Space between grid items */
}
.project-contents img{
    width: 100%;
    height: auto;
    display: block;
}
.house1{
    position: relative;
}
.house1 p{
    position: absolute;
    top:0;
    padding: 10px;
    background-color: black;
    color: white;
}
.about-page{
    padding:18px 9px 18px 9px;
}
.about-header{
    padding-bottom: 12px;
    margin:0px 28px;
    font-size:28px ;
    border-bottom: solid 1px #ccc;
}
.about-contents{
    margin:30px 23px 10px 23px;
}
.about-contents p{
    font-size: 17px;
    font-weight: light;
}
.about-grid-contents{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 14px;
    margin: 30px 25px 50px 25px;
}
.about-grid-contents .person1 img{
    width: 100%;
    height: auto;
    display: inline-block;
    filter: grayscale(70%);
}
.person1 h1{
    padding: 0px 0px 10px 0px;
}
.person1 span{
    padding-bottom: 10px;
    color: grey;
}
.person1 p{
    padding: 10px 0px 10px 0px;
}
.person1 button{
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 20px;
}
.person1 button:hover{
    background-color: darkgray;
}
.contact-header{
    padding-bottom: 12px;
    margin:0px 28px;
    font-size:28px ;
    border-bottom: solid 1px #ccc;
}
.contact-contents{
    margin: 20px 25px 30px 25px;
}
.contact-contents form{
    padding-top: 10px;
}
.contact-contents form input{
    border: solid 1px #ccc;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
}
.contact-contents form input::placeholder{
    font-size: 15px;
}
.contact-contents form button{
    margin:10px 0px 10px 0px;
    border: none;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 16px
}
.contact-contents form button:hover{
    background-color: rgb(133, 131, 131);
}
.map-page{
    margin: 20px 25px 20px 25px;
}
.map-page img{
    height: auto;
    width: 100%;
}
footer{
    padding: 20px;
    color: white;
    background-color: black;
    text-align: center;
}
@media (min-width: 300px) and (max-width: 900px) {
    .nav-left-contents{
        display: none;
    }
    .about-grid-contents{
        display: grid;
        grid-template-columns:repeat(1,1fr);
    }
    .person1 img{
        width: 100%;
        height: auto;
        display: inline-block;
    }
    .home-center-contents p span{
        display: block;
    }
    .home-center-contents p{
        display: none;
    }
    .home-contents{
        padding: 0px;
    }
    .project-page{
        padding: 0px;
    }
    .project-header{
        padding: 10px 0px 10px 0px;
        margin: 0px 10px;
    }
    .project-contents{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0px 12px 0px 12px;
        gap:16px; 
    }
    .project-contents img{
        width: 100%;
        height: auto;
        display: inline-block;
    }
}

